<head>
    <meta name="viewport" content="width=" device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header">
        <h1>The Bike Shop</h1>
    </div>

    <div id="main">
        <div style="width: 20%; float: left">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Shop", "Index", "Shop")</li>
                <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                <li>@Html.ActionLink("Login", "Index", "Login")</li>
                <li>@Html.ActionLink("Register", "Index", "Register")</li>
            </ul>
        </div>

        <div style="width: 80%; float: left;">
            @RenderBody()
        </div>
    </div>
</body>